# Map, Filter, Reduce, Lambda & Recursion

## Tasks Today:

1) <b>Lambda Functions</b> <br>
 &nbsp;&nbsp;&nbsp;&nbsp; a) Syntax <br>
 &nbsp;&nbsp;&nbsp;&nbsp; b) Saving to a Variable <br>
 &nbsp;&nbsp;&nbsp;&nbsp; c) Multiple Inputs <br>
 &nbsp;&nbsp;&nbsp;&nbsp; d) Passing a Lambda into a Function <br>
 &nbsp;&nbsp;&nbsp;&nbsp; e) Returning a Lambda from a Function <br>
 &nbsp;&nbsp;&nbsp;&nbsp; f) In-Class Exercise #1 <br>
2) <b>Map</b> <br>
 &nbsp;&nbsp;&nbsp;&nbsp; a) Syntax <br>
 &nbsp;&nbsp;&nbsp;&nbsp; b) Using Lambda's with Map <br>
 &nbsp;&nbsp;&nbsp;&nbsp; c) In-Class Exercise #2 <br>
3) <b>Filter</b> <br>
 &nbsp;&nbsp;&nbsp;&nbsp; a) Syntax <br>
 &nbsp;&nbsp;&nbsp;&nbsp; b) Using Lambda's with Filter <br>
 &nbsp;&nbsp;&nbsp;&nbsp; c) In-Class Exercise #3 <br>
4) <b>Reduce</b> <br>
 &nbsp;&nbsp;&nbsp;&nbsp; a) Syntax <br>
 &nbsp;&nbsp;&nbsp;&nbsp; b) Using Lambda's with Reduce <br>
 &nbsp;&nbsp;&nbsp;&nbsp; c) In-Class Exercise #4 <br>
5) <b>Recursion</b> <br>
 &nbsp;&nbsp;&nbsp;&nbsp; a) Implementing a Base <br>
 &nbsp;&nbsp;&nbsp;&nbsp; b) Writing a Factorial Function <br>
 &nbsp;&nbsp;&nbsp;&nbsp; c) In-Class Exercise #5 <br>
6) <b>Generators & Iterators</b> <br>
 &nbsp;&nbsp;&nbsp;&nbsp; a) Yield Keyword <br>
 &nbsp;&nbsp;&nbsp;&nbsp; b) Inifinite Generator <br>
 &nbsp;&nbsp;&nbsp;&nbsp; c) In-Class Exercise #6 <br>
7) <b>Exercises</b> <br>
 &nbsp;&nbsp;&nbsp;&nbsp; a) Exercise #1 - Filtering Empty Strings <br>
 &nbsp;&nbsp;&nbsp;&nbsp; b) Exercise #2 - Sorting with Last Name <br>
 &nbsp;&nbsp;&nbsp;&nbsp; c) Exercise #3 - Conversion to Farhenheit <br>
 &nbsp;&nbsp;&nbsp;&nbsp; d) Exercise #4 - Fibonacci Sequence <br>

## Lambda Functions <br>
<p>Lambda functions... or "Anonymous Functions" are referring to inline functions with no name. The keyword lambda denotes the no name function, and executes within a single line. Without saving it to a variable; however, it is not able to be used, unless passed in either as a paramater or within list comprehension.<br>Written as "(keyword lambda) (one or more inputs) (colon) (function to be executed)"</p>

#### Syntax

In [2]:
def addTwo(x):
    return x + 2

print(addTwo(4))

# Lambda Function Syntax
# Example of calling a lambda function without a variable
print((lambda x: x + 2)(4))

6
6

#### Saving to a Variable

In [2]:
f_test = lambda x: x + 2

f_test(4)

def adder2(num1,num2):
    return num1 + num2

#### Multiple Inputs

In [5]:
# Multiple Inputs with no variable
print((lambda x,y,z: x * y * z)(3,5,8))

# Multiple Inputs with a variable attached
x_test = lambda x,y,z: x * y * z
print(x_test(3,5,8))

120
120

#### Passing a Lambda into a Function

In [6]:
def multiply(f,num):
    """
        f expects a lambda function
        num expects a number
    """
    return f(num)
multiply(lambda x: x * x, 4) # lambda 4: 4 * 4

def math_operation(f, num):
    return f(num)

math_operation(lambda num: num * 5, 10) #calling this function, call is to first argument which is lambda then multi by 5

math_operation(lambda num: num**2, 10)

math_operation(lambda num: num - 20, 100)

def addTwo2(num):
    return num + 2

math_operation(addTwo2, 10)

16

#### Returning a Lambda from a Function

In [4]:
# Regular defined function
def multiply_test(num):
    return num * 4

# Function within a function
def returnFunc():
    test = 4
    def multiply(num):
        return num * 2
    return multiply

f_return = returnFunc()
print(returnFunc())
print(f_return(4))

# Lambda function returned from a regular function
def returnLam(b,c):
    return lambda x,a: x + a + b + c
r_lamb = returnLam(4,5)
print(r_lamb(5,5))

def returnFunc(num1,num2):
    outter_sum = num1 + num2
    return lambda num3, num4,: outter_sum + num3 + num4

returnFunc(10,10)(5, 11)

addTo50(10,10)
addTo50(100,100)

<function returnFunc.<locals>.multiply at 0x0000023E48DB99E0>
8
19

NameError: name 'addTo50' is not defined

#### If Statements within Lambdas

In [22]:
# Lambda x : True if (condition) else False
f_condition = lambda num : num * 2 if num > 10 else num + 2

print(f_condition(8))

print(f_condition(12))

print(f_condition(10))

(lambda num: 'odd' if num% 2 == 1 else 'even')(10)

10
24
12

#### In-Class Exercise #1 <br>
<p>Write an anonymous function that cubes the arguments passed in and assign the anonymous function to a variable 'f'.</p>

In [6]:
f = lambda cube: cube ** 3

print(f(2))
print(f(3))
print(f(4))

f = lambda cube: cube ** 3 if num% 2 == 1 else num * 2

8
27
64

## Map <br>
<p>The map function allows you to iterate over an entire list while running a function on each item of the list. This is why the map function works well with lambda's, because it simplifies things and you write less lines of code.<br>The syntax for a map function is "map(function to be used, list to be used)"<br>However, you must be careful, as the map function returns a map object, not a list. To turn it into a list we use the list() type conversion.</p>

#### Syntax

In [8]:
# map(func,iterable(list,dict,tuple,set))
# Normally the usage of map happens with a pre-defined function -- but we can use lambdas as well
def squared(num,num2):
    if num < 10 and num2 < 10:
        return num ** 2, num2 ** 2
    else:
        return num,num2
    
numbers = [4,11,20,3,15,20]
more_nums = [4,10,3,2,6]

squared_nums_map = list(map(squared,numbers,more_nums))
print(squared_nums_map)

range_ten = [num for num in range(1, 11)]

range_ten

list(map(lambda num: 'even' if num % 2 == 0 else 'odd', range_ten))

[(16, 16), (11, 10), (20, 3), (9, 4), (15, 6)]

['odd', 'even', 'odd', 'even', 'odd', 'even', 'odd', 'even', 'odd', 'even']

In [ ]:
def even_or_odd(nums):
    output: []
    for num in nums:
        if num % 2 == 0:
            output.appent('even')
        else:
            output.append('odd')
    return output

even_or_odd(range_ten)

#### Using Lambda's with Map

In [9]:
# map(lambda x: x + 2, list)
# using lambda in map happens in line (or in one line) usually
# list(map(lambda x : x * 2,nums))
squared_nums_lamb = list(map(lambda x,y : (x ** 2,y ** 2) if x < 10 and y < 10 else (x,y),numbers,more_nums))
print(squared_nums_lamb)

[word for word in map(lambda word: word.title(), ['brandt','manuel','johnny','zakaria'])]

[(16, 16), (11, 10), (20, 3), (9, 4), (15, 6)]

['Brandt', 'Manuel', 'Johnny', 'Zakaria']

#### In-Class Exercise #2 <br>
<p>Use the map function to double each number and minus it by one in the list by using a lambda function</p>

In [86]:
double_num = list(map(lambda x,y: (((x * 2) - 1),((y * 2) - 1)) if x > 0 and y > 0 else (x,y), numbers,more_nums))
print(double_num)

[(7, 7), (21, 19), (39, 5), (5, 3), (29, 11)]

## Filter() <br>
<p>Filter's are similar to the map function, where you're able to pass a function argument and a list argument and filter out something from the list based on the conditions passed. Similar to the map function, it returns a filter object, so you need to type convert it to a list()</p>

#### Syntax

In [88]:
names = ['Bob','Andy','Max','Evan','Angelica']

def a_names(name):
    if name[0].lower() == 'a':
        return True
    else:
        return False
new_names_list = list(filter(a_names, names))
print(new_names_list)

['Andy', 'Angelica']

In [21]:
list(filter(lambda num: num % 2 == 0, range(1,11)))

[2, 4, 6, 8, 10]

#### Using Lambda's with Filter()

In [89]:
new_names_lamb = list(filter(lambda name: True if name[0].lower() == 'a' else False, names))
print(new_names_lamb)

['Andy', 'Angelica']

In [36]:
[filter(lambda letter: letter.lower() not in 'aeiou', 'abcdefghijklmnopqrstuvwxyz')]

In [35]:
def notVowell(letter):
    return letter.lower() not in 'aeiou'
[letter for letter in filter(notVowell, 'ABCDEFGHIJKLMNOPQRSTUVWXYZ')]

['B',
 'C',
 'D',
 'F',
 'G',
 'H',
 'J',
 'K',
 'L',
 'M',
 'N',
 'P',
 'Q',
 'R',
 'S',
 'T',
 'V',
 'W',
 'X',
 'Y',
 'Z']

#### In-Class Exercise #3 <br>
<p>Filter out all the numbers that are below the mean of the list.<br><b>Hint: Import the 'statistics' module</b></p>

In [46]:
from statistics import mean

list1 = 1,23,45,66,54,78,98,79,87,65,41,23,12
     
filter[Lambda num: num > mean(list1, list1)]

SyntaxError: invalid syntax. Perhaps you forgot a comma? (2858459853.py, line 5)

In [62]:
from statistics import mean

nums = [2,7,4.2,1.6,9,4.4,4.9]

print(mean(nums))

avg = mean(nums)
print(avg)

def mean_test(name):
    if name < avg:
        return True
    else:
        return False
new_calc = list(filter(mean_test,nums))
print(new_calc)

# Lambda function solution
below_avg = list(filter(lambda x: True if x <= mean(nums) else False, nums))
print(below_avg)

4.728571428571429
4.728571428571429
[2, 4.2, 1.6, 4.4]
[2, 4.2, 1.6, 4.4]

## Reduce() <br>
<p>Be very careful when using this function, as of Python 3 it's been moved to the 'functools' library and no longer is a built-in function.<br>The creator of Python himself, says to just use a for loop instead.</p>

#### Syntax

In [67]:
from functools import reduce

# reduce(function,iterable)

list_1 = [2,4,6,8,10]

def addNums(num1,num2):
    return num1 + num2

result_add = reduce(addNums,list_1)

print(result_add)

# Subtract a list of numbers
def subtractNums(num1,num2):
    return num1 - num2

result_sub = reduce(subtractNums, list_1)
print(result_sub)

30
-26

In [50]:
#from functools import reduce
#sum([1,2,3])
#reduce(lambda agg, num: agg + num, range(5))

agg = 0
for num in range (5):
    agg += num
agg

10

#### Using Lambda's with Reduce()

In [68]:
result_lamb = reduce(lambda x,y: x + y, list_1)
print(result_lamb)

30

#### In-Class Exercise #4 <br>
<p>Use the reduce function to multiply the numbers in the list below together with a lambda function.</p>

In [69]:
my_list = [1,2,3,4]

from functools import reduce

result_lamb = reduce(lambda x,y: x * y, my_list)
print(result_lamb)

24

## Recursion <br>
<p>Recursion means that a function is calling itself, so it contanstly executes until a base case is reached. It will then push the returning values back up the chain until the function is complete. A prime example of recursion is computing factorials... such that 5! (factorial) is 5*4*3*2*1 which equals 120.</p>

#### Implementing a Base Case

In [1]:
def addNums(num):
    # Set base case for recusive function
    if num <= 1:
        print("addNums(1) = 1")
        return num
    else:
        print(f"addNums({num}) = {num} + addNums({num - 1})")
        return num + addNums(num - 1)
    
addNums(5)

addNums(5) = 5 + addNums(4)
addNums(4) = 4 + addNums(3)
addNums(3) = 3 + addNums(2)
addNums(2) = 2 + addNums(1)
addNums(1) = 1

15

In [53]:
def recursiveAdder(num):
    if num == 1:
        print("recursiveAdder(1) == 1")
        return 1
    print(f'recursiveAdder({num}) == {num} + recursiveAdder({num - 1})')
    return num + recursiveAdder(num - 1)

recursiveAdder(5)

recursiveAdder(5) == 5 + recursiveAdder(4)
recursiveAdder(4) == 4 + recursiveAdder(3)
recursiveAdder(3) == 3 + recursiveAdder(2)
recursiveAdder(2) == 2 + recursiveAdder(1)
recursiveAdder(1) == 1

15

In [55]:
def whileAdder(num):
    output = 0
    while num >= 1:
        output += num
        num -= 1
    return output
whileAdder(5)

15

In [66]:
def find_factorial(num):
    if num == 1:
        print(f'find_factorial(1) == 1')
        return num
    print(f'find_factorial({num}) == {num} * find_factorial({num - 1})')
    return num * find_factorial(num - 1)

find_factorial(5)

find_factorial(5) == 5 * find_factorial(4)
find_factorial(4) == 4 * find_factorial(3)
find_factorial(3) == 3 * find_factorial(2)
find_factorial(2) == 2 * find_factorial(1)
find_factorial(1) == 1

120

In [71]:
def subrec(num):
    if num == 1:
        print (f'subrec(1) == 1')
        return num
    print (f'subrec({num}) == {num} - subrec({num - 1})')
    return num - subrec(num - 1)
subrec(5)

subrec(5) == 5 - subrec(4)
subrec(4) == 4 - subrec(3)
subrec(3) == 3 - subrec(2)
subrec(2) == 2 - subrec(1)
subrec(1) == 1

3

#### Writing a Factorial Function

In [2]:



# 5! = 5 * 4 * 3 * 2 * 1
def factorial(num):
    if num <= 1:
        return 1
    else:
        return num * factorial(num - 1)
    
factorial(5)

120

In [73]:
def my_range(start, stop, step=1):
    while start < stop:
        yield start
        start += step
        
list(my_range(0, 10))

for num in my_range(0, 10):
    print(num)

my_gen = my_range(0, 10)

next(my_gen)
next (my_gen)
print('\n')
for num in my_gen:
    print(num)

0
1
2
3
4
5
6
7
8
9


2
3
4
5
6
7
8
9

In [76]:
def padawans():
    yield 'johnny'
    yield 'mike'
    yield 'jorge'
    
list_p = list(padawans())

for student in list_p:
print('student, from gen')

IndentationError: expected an indented block after 'for' statement on line 8 (1878717132.py, line 9)

In [ ]:
def

#### In-Class Exercise #5 <br>
<p>Write a recursive function that subtracts all numbers to the argument given.</p>

In [1]:
# return num - subNums(num - 1)
# subtract(10)
def subNums(num):
    if num <= 1:
        print("subNums(1) = 1")
        return num
    else:
        print(f"subNums({num}) = {num} - subNums({num - 1})")
        return num - subNums(num - 1)
    
subNums(5)

subNums(5) = 5 - subNums(4)
subNums(4) = 4 - subNums(3)
subNums(3) = 3 - subNums(2)
subNums(2) = 2 - subNums(1)
subNums(1) = 1

3

In [ ]:
# 5! = 5 * 4 * 3 * 2 * 1
def factorial(num):
    if num <= 1:
        return 1
    else:
        return num * factorial(num - 1)
    
factorial(5)

## Generators <br>
<p>Generators are a type of iterable, like lists or tuples. They do not allow indexing, but they can still be iterated through with for loops. They are created using functions and the yield statement.</p>

#### Yield Keyword <br>
<p>The yield keyword denotes a generator, it doesn't return so it won't leave the function and reset all variables in the function scope, instead it yields the number back to the caller.</p>

In [14]:
def my_range(stop, start, step = 2):
    while start < stop:
        yield start # yield keyword denotes a generator
        start += step
for i in my_range(20, start = 2):
    my_generator_value = i
    print(my_generator_value)

my_range(20,start = 2)

2
4
6
8
10
12
14
16
18

#### Infinite Generator

In [ ]:
# bad, never create infinite loops

#### In-Class Exercise #6 <br>
<p>Create a generator that takes a number argument and yields that number squared, then prints each number squared until zero is reached.</p>

In [17]:
# for i in numbers_squared(10)

def num_sq(stop,start,step = 1):
    while start >= stop:
        yield start ** 2
        start -= step
        
for i in num_sq(0,start = 3):
    print(i)

9
4
1
0

# Exercises

### Exercise #1 <br>
<p>Filter out all of the empty strings from the list below</p>

`Output: ['Argentina', 'San Diego', 'Boston', 'New York']`

In [154]:
places = [" ","Argentina", " ", "San Diego","","  ","","Boston","New York"]

while(" " in places):
    places.remove(" ")
while("") in places:
    places.remove("")
while("  ") in places:
    places.remove("  ")
    
print(places)

#I am sure there is a way to more efficiently remove all at once...

['Argentina', 'San Diego', 'Boston', 'New York']

### Exercise #2 <br>
<p>Write an anonymous function that sorts this list by the last name...<br><b>Hint: Use the ".sort()" method and access the key"</b></p>

`Output: ['Victor aNisimov', 'Gary A.J. Bernstein', 'Joel Carter', 'Andrew P. Garfield', 'David hassELHOFF']`

In [226]:
author = ["Joel Carter", "Victor aNisimov", "Andrew P. Garfield","David hassELHOFF","Gary A.J. Bernstein"]

author.sort(key=lambda x: x.split()[-1])

author

#cant figure out how to get that 'aNisimov' to go where it needs to. LOL

['Gary A.J. Bernstein',
 'Joel Carter',
 'Andrew P. Garfield',
 'Victor aNisimov',
 'David hassELHOFF']

### Exercise #3 <br>
<p>Convert the list below from Celsius to Farhenheit, using the map function with a lambda...</p>

`Output: [('Nashua', 89.6), ('Boston', 53.6), ('Los Angelos', 111.2), ('Miami', 84.2)]
`

In [261]:
# F = (9/5)*C + 32
places = [('Nashua',32),("Boston",12),("Los Angelos",44),("Miami",29)]
def __init__(self):
    self.k = k
    self.y = y
    
print(list(map, k, (lambda y = (9/5)*y + 32)
   
places

SyntaxError: invalid syntax (3959516461.py, line 7)

### Exercise #4 <br>
<p>Write a recursion function to perform the fibonacci sequence up to the number passed in.</p>

`Output for fib(5) => 
Iteration 0: 1
Iteration 1: 1
Iteration 2: 2
Iteration 3: 3
Iteration 4: 5
Iteration 5: 8`